<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="ISO-8859-1">
<title>Formulario</title>
</head>
<body>
<div class="container mt-4">
    <div class="col-sm-6">
        <form th:action="@{/save}" th:object=${persona} method="POST">
        <div class="card">
            <div class="card-header">
                <h3>REGISTRO</h3>
            </div>
                <div class="card-body">
                  <div class="form-group">
                      <label>ID</label>
                      <input th:field="*{id}" type="text" class="form-control"/>
                  </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input th:field="*{nombre}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Dni:</label>
                        <input th:field="*{dni}" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Nacimiento:</label>
                        <input th:field="*{nacimiento}" type="date" class="form-control"/>
                    </div>
                </div>
                    <div class="card-footer">
                        <input type="submit" value="Guardar" class="btn btn-succes">
                    </div>
                </div>
                </form>
            </div>
        </div>

</body>
</html>