<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	  <title>Spring Boot - AJAX POST GET Example</title>
	  <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
	<h1>REGISTRO MYSQL</h1>
	<a th:href="@{/new}" class="btn btn-info">Añadir</a>
	<table class="col-md-12">
		<thead>
		<tr>
			<td>ID</td>
			<td>NOMBRES</td>
			<td>DNI</td>
			<td>CUMPLEAÑOS</td>

		</tr>
		</thead>
		<tbody>
		<tr th:each="persona:${personas}">
			<td th:text="${persona.id}"></td>
			<td th:text="${persona.nombre}"></td>
			<td th:text="${persona.dni}"></td>
			<td th:text="${persona.nacimiento}"></td>
			<td>
				<a th:href="@{/editar/}+${persona.id}" class="btn btn-succes">EDITAR</a>
				<a th:href="@{/eliminar/}+${persona.id}" class="btn btn-danger">ELIMINAR</a>
			</td>
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>